[core]
	editor = code --wait
        symlinks = true
[user]
	email = undernotic@gmail.com
	name = undernotic
[merge]
        tool = vscode
[mergetool "vscode"]
        cmd = code -n --wait $MERGED
[diff]
        tool = vscode
[difftool "vscode"]
        cmd = code -n --wait --diff $LOCAL $REMOTE    
[includeIf "gitdir/i:~/workspace/work/**"]
    path = ~/workspace/work/.gitconfig-work
